/model/Working Model_embedded_files
/model/*.3dm
/model/*.3dmbak
/model/*.3dm.*
/node_modules/
*.db
*.3dm
model/misc/weaire-phelan-structure-2.snapshot.2/Things to d.txt
model/misc/weaire-phelan-structure-2.snapshot.2/wp-tetrakaidecahedron.3dmbak
assets/schematics/Audit report.txt
